@model IEnumerable<Game>
@{
    ViewData["Title"] = "Home Page";
}

@if (!Model.Any())
{
    <div class="alert  alert-danger  mt-5">

        <strong>No Games!</strong> No games were added yet.
    </div>
}
else
{
    <div class="row mt-5">
        @foreach (var game in Model)
        {
            <div class="col-md-4">
                <div class="card border-success mb-3" style="max-width: 20rem;">
                   
                    <div class="card-body " style="background-image:url(@($"{FileSettings.ImagePath}/{game.CoverUrl}")); background-size:cover;backgroud-position: center; height: 500px">
                       <div class="d-flex align-items-end h-100">
                           <span class="badge bg-secondary rounded-0 fs-6">@game.Category.Name</span>
                       </div>
                    </div>

                    <div class="card-footer text-muted d-flex justify-content-between align-items-center">
                        <h5>@game.Name</h5>
                        <div>
                            @foreach (var device in game.Devices)
                            {
                               <i class="@device.Device.Icon me-2 fs-5"></i>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    
}
